@model List<E_Commerce.Models.Product>

@{
    ViewBag.Title = "Index2";
}

<!-- Latest Products -->
<div class="products">
    <h2>Latest Products</h2>

    @for (int i = 0; i < Model.Count(); i++)
    {
        <div class="product-holder">
            <div class="product">
                <a title="Details" href="@Url.Action("Deteil", "Product", new { id = Model[i].ProductID }, null)">
                    <img src="~/css/images/product/@Model[i].ProductImg" alt="product img" />
                </a>
                <p>Case Model</p>
            </div>

            <p>@Model[i].ProductName</p>
            <div class="price-label">
                <strike>$117.50</strike>
                <p class="price">@Model[i].Price</p>
            </div>
        </div>
    }

    <div class="cl"></div>
</div>
<!-- END Latest Products -->
<!-- Feartured Products -->
<div class="products featured">
    <h2>Featured Products</h2>
    <div class="products-slider">
        <ul>
            <li>
                <a title="Details" href="#"><img src="~/css/images/1.jpg" alt="Silver half transparent with blue lights computer case" /></a>
                <p>Model Name</p>
            </li>
            <li>
                <a title="Details" href="#"><img src="~/css/images/2.jpg" alt="Solid brown computer case" /></a>
                <p>Model Name</p>
            </li>
            <li>
                <a title="Details" href="#"><img src="~/css/images/3.jpg" alt="Computer case with a fan on the side and blue lights" /></a>
                <p>Model Name</p>
            </li>
            <li>
                <a title="Details" href="#"><img src="~/css/images/4.jpg" alt="Half transparent black computer case" /></a>
                <p>Model Name</p>
            </li>
            <li>
                <a title="Details" href="#"><img src="~/css/images/5.jpg" alt="Compyter case with three extra fans and blue lights" /></a>
                <p>Model Name</p>
            </li>
            <li>
                <a title="Details" href="#"><img src="~/css/images/1.jpg" alt="Silver half transparent with blue lights computer case" /></a>
                <p>Model Name</p>
            </li>
            <li>
                <a title="Details" href="#"><img src="~/css/images/2.jpg" alt="Solid brown computer case" /></a>
                <p>Model Name</p>
            </li>
            <li>
                <a title="Details" href="#"><img src="~/css/images/3.jpg" alt="Computer case with a fan on the side and blue lights" /></a>
                <p>Model Name</p>
            </li>
            <li>
                <a title="Details" href="#"><img src="~/css/images/4.jpg" alt="Half transparent black computer case" /></a>
                <p>Model Name</p>
            </li>
            <li>
                <a title="Details" href="#"><img src="~/css/images/5.jpg" alt="Computer case with three extra fans and blue lights" /></a>
                <p>Model Name</p>
            </li>
        </ul>
    </div>
</div>
<!-- END Featured Products -->
