@*@model  E_Commerce.Models.Product*@

@{
    ViewBag.Title = "Detail";
}



@*<h2>Detail</h2>
<img src="~/css/images/product/@Model.ProductImg" alt="Alternate Text" />
<p>@Model.ProductName</p>*@



